:root {
  --sand-color: #bd9b16;
  --moon-color: #ffffff;
  --night-color: rgb(44 46 57);
  --green-color: #127533;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  min-height: 100vh;
  padding: 32px 48px;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: var(--sand-color);
  font-size: large;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 64px;
  cursor: pointer;
}

nav ul li {
  font-size: 32px;
}

nav ul li:is(:focus, :hover) {
  color: var(--green-color);
}

footer a {
  text-decoration-line: none;
  color: var(--sand-color);
}

footer a:is(:focus, :hover) {
  text-decoration-line: underline;
  color: var(--green-color);
}

/* style home page */

main {
  margin: 16px 0;
  width: 800px;
  background-color: var(--night-color);
  border-radius: 18px;
  opacity: 0.5;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

main h1 {
  align-self: center;
  font-size: 48px;
  margin-bottom: 16px;
  cursor: pointer;
}

main h1:hover {
  color: var(--green-color);
}

.view,
.work-hours,
.location {
  background-color: var(--moon-color);
  padding: 12px 28px;
  border-radius: 16px;
  color: var(--sand-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.view p {
  font-weight: 600;
}

.view h2 {
  font-size: 26px;
  align-self: flex-end;
}

.work-hours {
  align-items: center;
}
.work-hours h2 {
  align-self: flex-start;
}

.work-hours div p span {
  font-weight: 700;
}

.location {
  align-items: center;
}

.location h2 {
  align-self: flex-start;
}

/* style Menu page */

#menu-title,
#category,
.food-card {
  align-self: center;
  margin-bottom: 16px;
}

#menu-title {
  font-size: 42px;
}

#category {
  font-size: 28px;
  font-weight: 700;
  color: var(--moon-color);
  padding: 10px 16px;
  border-radius: 16px;
}

.food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: var(--moon-color);
  padding: 16px;
  border-radius: 16px;
}

.food-card h4 {
  font-size: 26px;
  font-weight: 700;
}

.food-card .food-desc {
  max-width: 70%;
  font-weight: 600;
}

.food-card .price {
  font-weight: 700;
  font-size: 26px;
}

.food-card img {
  max-width: 50%;
}

/* style Contact page */

#contact-title,
.contact-card {
  align-self: center;
}

#contact-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 32px;
}

.contact-card {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.contact-card h3 {
  margin-bottom: 10px;
}

.contact-card .contact-info {
  background-color: var(--moon-color);
  padding: 12px;
  border-radius: 12px;
}

.contact-card img {
  max-width: 20%;
  border-radius: 12px;
  overflow: hidden;
}
