*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  min-height: 100vh;
  padding: 32px 48px;
  background-image: url('./bg.jpg');
  background-size: cover;
  color: #bd9b16;
  font-size: large;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

main {
  margin: 16px 0;
  width: 800px;
  background-color: rgb(44 46 57);
  border-radius: 18px;
  opacity: 0.5;
  padding: 32px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

main h1 {
  align-self: center;
  font-size: 48px;
  opacity: 1;
  margin-bottom: 16px;
}

.view,
.work-hours,
.location {
  background-color: #ffffff;
  padding: 12px 28px;
  border-radius: 16px;
  color: #bd9b16;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.view p {
  font-weight: 600;
}

.view h2 {
  font-size: 26px;
  align-self: flex-end;
}

.work-hours {
  align-items: center;
}
.work-hours h2 {
  align-self: flex-start;
}

.work-hours div p span {
  font-weight: 700;
}

.location {
  align-items: center;
}

.location h2 {
  align-self: flex-start;
}

/* style Menu page */

#menu-title,
#category,
.food-card {
  align-self: center;
  margin-bottom: 16px;
}

#menu-title {
  font-size: 42px;
}

#category {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 16px;
  border-radius: 16px;
}

.food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 16px;
}

.food-card h4 {
  font-size: 26px;
  font-weight: 700;
}

.food-card .food-desc {
  max-width: 70%;
  font-weight: 600;
}

.food-card .price {
  font-weight: 700;
  font-size: 26px;
}

.food-card img {
  max-width: 50%;
}
